.DS_Store
*.xcuserstate
xcuserdata
*.playground
/default.profraw
/build
/.build
/docs
/Carthage/Checkouts
/.swiftpm
/Package.resolved
/LaunchDarkly.xcworkspace/xcshareddata/swiftpm/Package.resolved
/LaunchDarkly.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved